<h1>Welcome to <%= Rails.configuration.application_name %>!</h1>
<p class="lead"> test </p>

<% if @output == 'var _OLBookInfo = {};' %>
  <p>I'm sorry. This book doesn't exist in our data...</p>
<% else %>
  <%= @output %>
<% end %>
